[Unit]
Description=Compressor simulator service. Will auto-run on boot. Authored by GCC's Capstone team. Spring 2026. Note that a copy of this script must be placed in /etc/systemd/system and must be registered to run using systemctl enable fse_sim_server.service.

After=network.target

[Service]
ExecStart=python3 /home/fsesim/fresh/RPI_side/mt_server_w_handlers.py
User=fsesim
Group=fsesim

[Install]
WantedBy=multi-user.target
